@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/

/*important color names */ 
/* picture color #ff5c5c*/
/* team section background color #2c2c2c*/
/* yellow shade font color #ffcc06*/
/*margin 0 is in bootstrap css already */

body {
    margin: 0;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 16px;
    color: #111;
    line-height: 21px;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    font-smoothing: antialiased !important;
    vertical-align: baseline;
}


strong, b {
	font-weight: 600;
}

ul, ol {
	list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5em;
}


a:hover {
    color: #444;
}

a, 
a:hover, 
a:focus,
a:active{
    outline: 0;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
}


.btn-primary {
    background: #ff5c5c;
    border-color: #ff5c5c;
    font-size: 16px;
    padding: 8px 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary:hover {
    background: transparent;
    border-color: #ff5c5c;
    color: #ff5c5c;
}

.btn-cancel {
    background: #222;
    border: 1px solid #222;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-cancel:hover {
    background: transparent;
    border-color: #222;
    color: #222;
}


/* Start Section Title */

.section-title {
    margin-bottom: 80px;
}

.section-title h2{
    color: #111;
    font-size: 48px;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: none;
}

.section-title p {
    color: #111;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
}
/* End Section Title */


.page-header {
    background: url("../images/header_industry.jpg") no-repeat;
    padding: 50px 0;
    margin-top: 80px;
}

.page-header h1 {
    color: #fff;
}


/* common card properties for the website design*/
/* modify the properites in the respective sections to modify the values */


.card-deck-wrapper {
    padding: 20px;
}


.card {
    padding:20px;
    box-shadow: 15px 15px 15px 5px #edeff2;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover {
    box-shadow: 5px 5px 4px 1px #edeff2;
}

.card h4 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    text-align: center;
}

.card p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
}


/* ----------------------------------------------------------------*/
/* Start Navigation Section */
/* ----------------------------------------------------------------*/

.navbar .navbar-brand > img {
    width:40px;
    height:40px;
}

.navbar p{
    //font-style: 
}

.navbar .navbar-brand >a {
    //font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   // font-size: 20px;
   // line-height: 27px;
}

a.navbar-brand {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;    
}

.navbar {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    position: relative;
    font-size: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #ff5c5c !important;
    border: none;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}

.navbar-nav  > li > a {
    line-height: 50px !important;
}

.navbar-nav > li {
    margin-left: -5px !important
}

.navbar-dark .navbar-nav  > li > a {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #fff !important;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}


.navbar-dark .navbar-nav  > li > a:hover{
    background-color: #ff5c5c;
}



.navbar-default .navbar-nav .dropdown {
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}


.dropdown li a,  {
    display: block;
    color: #6b6b6b;
    font-size: 16px;
    text-decoration: none;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a {
    background-color: #ff5c5c;
}

.dropdown  li a.active, 
.sup-dropdown li a.active {
    background: #ff5c5c;
    color: #fff;
}

#nav-mail a {
    font-size: 14px;
    vertical-align: center;
    color: #fff;
    padding-top: 30px;
}

/*--------------------------------------------------*/
/* Start Header Section                             */
/*--------------------------------------------------*/

.banner {
    text-align: center;
    color: #fff;
    background: url(../images/banner2.jpg) no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    //margin-top: -20px;
}

.banner .overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.intro-text {
    position: relative;
    padding: 20% 0 15% 0;
}

.banner .intro-text h1 {    
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    margin-bottom: 55px;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'Oswald', sans-serif;
}

.banner .intro-text h1 span {
    color: #ff5c5c;
}

.banner .intro-text p {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 3px;
    margin-bottom: 55px;
    -webkit-animation: bounceInLeft;
    -moz-animation: fadeInLeft;
    -o-animation: fadeInLeft;
    animation: bounceLeft;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.banner .intro-text .btn-primary {
    padding: 15px 25px;
    font-size: 16px;
    border-color: #fff;
    color: #fff;
    border-radius: 0;
    width: 130px;
}

.banner .btn-primary:hover {
	background: #fff;
	border-color: #fff;
    color: #111;
}

/*---------------------------------------------------------*/
/* Start Why Us Section                                  */
/*---------------------------------------------------------*/

#why-us {
    padding-top: 25px;
    padding-bottom: 25px;
}

#why-us .jumbotron {
    background-color: #fff;
}

#why-us h2 {
    color: #000;
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

#why-us h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
}

.why-us .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}



/*---------------------------------------------------------*/
/* Start Profile Section                                  */
/*---------------------------------------------------------*/


#profile {
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile .jumbotron {
    background-color: #fff;
}

#profile h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

.profile .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}


/*---------------------------------------------------------------*/
/* History
/*---------------------------------------------------------------*/


#history {
    padding-top: 30px;
    padding-bottom: 30px;
}

.history .jumbotron {
    background-color: #fff;
}

#history h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

.history .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}



/*------------------------------------------*/
/* Vision and Mission  Section
/*------------------------------------------*/

#profile {
    padding-top: 30px;
    padding-bottom: 30px;
}

.profile .jumbotron {
    background-color: #fff;
}

#profile h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

.profile .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}




/*------------------------------------------*/
/* Diff  Section
/*------------------------------------------*/

#diff {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.diff .jumbotron {
    background-color: #fff;
}

.diff .card {
    padding:0px;
}

.diff > img {
    height: 120px;
}


#diff h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

.diff .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 20px;
}




/* ----------------------------------*/
/* Start customers Section         */
/* ----------------------------------*/


.customers-header {
    background: url(../images/customers.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    border-bottom: 5px solid #ff5c5c;
   // border-top: 5px solid #ff5c5c;

}

.customers-header h1 {
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    font-size: 150px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    //margin-bottom: 55px;
    color: #fff;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    margin: 0;
}

#customers {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #fff;
    position: relative;
}

#customers p {
    font-size: 30px;
    text-align: center;
}

#customers ul {
    display: inline-block;
    border: 2px solid #ff0f0f;
    margin: 40px;
    width: 200px;
    height: 200px;
    background-color: #ff0f0f;
  -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -o-border-radius: 50%;
   border-radius: 50%;
   margin: 0 0 24px;
}

#customers ul li {
    padding:65px;
    top: 50%;
    text-align: center;
}

#customer-border p {
    color: #fff;

}



/*------------------------------------------*/
/* Service process  Section
/*------------------------------------------*/

.service-process {
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    background-color: #000000;
    color: #ffffff;
}


.service-process h2{
 
    color: #ffffff;
}

.service-process p{
    padding-top: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;

}

.service-process ul {
    padding-top: -5px;
}

.service-process ul li {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding: 5px;
    margin-left: 5px;
}

.service-process h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-decoration: underline ;
    text-align: center;
    text-transform: capitalize;
    //border-bottom: 2px solid #3366ff;
    transition: 0.4s;
    padding-top: 50px;
    color: #ffffff;
}

.service-process ul li:before {
    content: '\f02c';
    font-family: "FontAwesome";
    float: left;
    margin-right: 5px;
}

#cargo-check {
    width: 80%;
    padding-top: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin: 2px solid #000000;
    }


/* media queries to adjust the list */

@media only screen 
and (max-width : 550px) {
    
     #diff-list li {
      width: 100%;
  }
}

@media only screen 
and (max-width : 767px)
and (min-width : 551px){
    
     #diff-list li {
      width: 49.9%;
  }
}

@media (min-width: 768px) {
  #diff-list li {
      width: 33.3%;
  }
}

/*service category sub section */



#service-category {
    background-color: #ffffff !important;
    border:1px solid #000;
    padding: 20px;
}

#service-category h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;

}

#service-category p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    height: 150px;
    
}

.service-category-img {
    width: 90%;
    //height: auto;
    padding: 40px;
    margin: auto;
}

.diff-list:hover {
    box-shadow: 0px 0px 15px #000000;
}


#service-category ul li:before {
    content: '\f135';
    font-family: "FontAwesome";
    float: left;
    margin-right: 5px;
}


#service-category ul li {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding:5px;
}


/*------------------------------------------*/
/* core values  Section
/*------------------------------------------*/

#core-values {
    padding: 60px;
}


#core-values h3 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-transform: capitalize;

}

.core-values p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}

.core-values > img {
        box-shadow: 2px 2px 2px 2px #edeff2;
}

#value-col {
    padding: 40px;
    box-shadow: 2px 2px 2px 2px #edeff2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#value-col:hover {
    padding: 40px;
    box-shadow: 15px 15px 15px 5px #edeff2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}




@media only screen 
and (max-width : 550px) {
    
     {
      
  }
}

@media only screen 
and (max-width : 767px)
and (min-width : 551px){
    
      #core-values > img  {
      width: 100%;
  }

  .core-values p {
    col-md-12
  }

}

@media (min-width: 768px) {
{
  }
}


/*------------------------------------------*/
/* Start Portfolio Section
/*------------------------------------------*/



.products-header {
    background: url(../images/products.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    border-bottom: 5px solid #ff5c5c;
   // border-top: 5px solid #ff5c5c;

}

.products-header h1 {
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    font-size: 150px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    //margin-bottom: 55px;
    color: #fff;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    margin: 0;
}


.portfolio-section-1 {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #fff;
}

.portfolio-section-2 {
    padding-top: 80px;
    padding-bottom: 120px;
    //background: #f7f7f7;
}

.portfolio-section-3 {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #111;
}



#portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.portfolio-section-2 #portfolio-list li {
    margin-left: -2px;
}

#portfolio-list li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    margin-bottom: -5px;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

@media only screen 
and (max-width : 550px) {
    
     #portfolio-list li {
      width: 100%;
  }
}

@media only screen 
and (max-width : 767px)
and (min-width : 551px){
    
     #portfolio-list li {
      width: 49.9%;
  }
}

@media (min-width: 768px) {
  #portfolio-list li {
      width: 33.3%;
  }
}


.portfolio-item {
   width: 100%;
   height: 100%;
   position: relative;
   text-align: center;
   cursor: default;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.portfolio-caption {
    
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
    opacity: 0;
    filter: Alpha(Opacity=0);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


.portfolio-caption h4 {
    display: inline-table;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    padding-top: 10%;
}

.portfolio-caption p {
    position: relative;
    top: 12%;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10%;
}

.portfolio-caption a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 20px;
    font-size: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    //background: #fff;
    color: #fff;
    position: absolute;
    top: 70%;
}

.portfolio-caption a.link-1 i {
    left: 30%;
}

.portfolio-caption a.link-2 i {
    left: 50%;
}

.portfolio-caption h4,
.portfolio-caption p,
.portfolio-caption a i {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.portfolio-item:hover .portfolio-caption h4,
.portfolio-item:hover .portfolio-caption p,
.portfolio-item:hover .portfolio-caption a i {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.portfolio-item:hover .portfolio-caption {
    background-color: rgba(255, 67, 46, 0.8);
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.portfolio-item:hover .portfolio-caption h4 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.portfolio-item:hover .portfolio-caption p {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.portfolio-item:hover .portfolio-caption a.link-1 i {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.portfolio-item:hover .portfolio-caption a.link-2 i {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}





/** Toggles & Accordion **/

.panel-group .panel {
    border-radius: 0;
}
.panel {
    border-radius: 0;
    border: none !important;
    box-shadow: none !important
}

.panel-default > .panel-heading {
	background: transparent;
    border: 1px solid #111;
    border-radius: none;
    font-weight: 400;
}

.panel-body {
	padding: 15px 10px;
    border: none !important;
    color: #111;
    font-size: 16px;
    background-color: transparent !important;
}

.panel-heading {
	padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.panel-title {
	font-size: 14px;
	font-weight: 400;
    padding: 10px;
    color: #666;
}

.panel-title a {
	position: relative;
	display: block;
	padding: 6px 12px;
	background-color: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
  	-webkit-box-shadow: none;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.panel-title a.collapsed {
	color: #444;
}

.panel-title a.collapsed:hover {
	color: #666;
}

.panel-title a .control-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -11px;
	transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    display: none;
}

.panel-title a.collapsed .control-icon {
    display: block;
}

.panel-title a i {
	font-size: 22px;
    padding-right: 5px;
    color: #5BB12F;
}




/* progress bar */

.skill-shortcode {
    margin-top: 40px;
}

.skill {
    padding-bottom: 10px;
}

.skill p {
    margin-bottom:7px;
    font-size: 13px;
}

.progress {
  //background: #fff;
  overflow: visible;
  height: 5px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
    background: #5BB12F;
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position:relative;
}

 .progress-bar-span { 
     opacity:1;
     position:absolute;
     top:-7px;
     background:#ACB2B8;
     padding:0px 10px;
     color:#FFF;
     border-radius: 0px;
     right:0px;
     -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
     -o-transition: all .5s ease-in-out;
     -ms-transition: all .5s ease-in-out;
     transition: all .5s ease-in-out; 
 }

.skill:hover .progress-bar-span {
    opacity:1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}




/**** Start Modal Section ****/

.section-modal .modal-content {
    padding: 100px 0 !important;
    min-height: 100%;
    border: 0 !important;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888;
    font-weight: 300;
}



.section-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.section-modal .close-modal:hover {
    opacity: .3;
}

.section-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



/* ----------------------------------*/
/* Start Team Member Section         */
/* ----------------------------------*/

.team-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: cover;
}

.team-section h2 {

}

.team-section p {
    padding-top: 20px;
    text-align: center;
}

.team-section h3 {
    text-transform: capitalize;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 28px;
    line-height: 25px;
    margin: auto;
    text-align: center;
}

.team-section img {
   width: 70%;
   padding: 20px;
   margin: auto;
}



/*---------------------------------------------------------*/
/* Start team-b4 Section                                  */
/*---------------------------------------------------------*/

#our-people {
    padding-top: 40px;
    padding-bottom: 40px;
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.our-people .jumbotron {
    background-color: #fff;
}


#our-people h4 {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 25px;
    line-height: 28px;
    text-transform: capitalize;

}


.our-people .jumbotron p {
    font-weight: 300;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 5px;
}

.our-people .card-block > img {
    padding-bottom: 20px;
        padding-bottom: 20px;

}

/*------------------------------------------*/
/* Start Portfolio Section
/*------------------------------------------*/

.portfolio-section-1 {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #f2fffc;
}

.portfolio-section-2 {
    padding-top: 80px;
    padding-bottom: 120px;
    //background: #f7f7f7;
}

.portfolio-section-3 {
    padding-top: 80px;
    padding-bottom: 120px;
    background: #111;
}



#portfolio-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.portfolio-section-2 #portfolio-list li {
    margin-left: -2px;
}
#portfolio-list li {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50%;
    margin-left: -4px;
    margin-bottom: -5px;
    padding: 0;
    text-align: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
@media only screen 
and (max-width : 550px) {
    
     #portfolio-list li {
      width: 100%;
  }
}

@media only screen 
and (max-width : 767px)
and (min-width : 551px){
    
     #portfolio-list li {
      width: 49.9%;
  }
}

@media (min-width: 768px) {
  #portfolio-list li {
      width: 33.3%;
  }
}


.portfolio-item {
   width: 100%;
   height: 100%;
   position: relative;
   text-align: center;
   cursor: default;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.portfolio-caption {
    
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
    opacity: 0;
    filter: Alpha(Opacity=0);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}


.portfolio-caption h4 {
    display: inline-table;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    padding-top: 10%;
}

.portfolio-caption p {
    position: relative;
    top: 12%;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10%;
}

.portfolio-caption a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 20px;
    font-size: 25px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    //background: #fff;
    color: #fff;
    position: absolute;
    top: 70%;
}

.portfolio-caption a.link-1 i {
    left: 30%;
}

.portfolio-caption a.link-2 i {
    left: 50%;
}

.portfolio-caption h4,
.portfolio-caption p,
.portfolio-caption a i {
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

.portfolio-item:hover .portfolio-caption h4,
.portfolio-item:hover .portfolio-caption p,
.portfolio-item:hover .portfolio-caption a i {
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.portfolio-item:hover .portfolio-caption {
    background-color: rgba(255, 67, 46, 0.8);
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.portfolio-item:hover .portfolio-caption h4 {
    -webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.portfolio-item:hover .portfolio-caption p {
    -webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.portfolio-item:hover .portfolio-caption a.link-1 i {
    -webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.portfolio-item:hover .portfolio-caption a.link-2 i {
    -webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}



/********************************/
/* Start Service Section
/********************************/

#service-section {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: #000000;
    background-size:cover;
    color: #ffffff;
}

#service-section h2 {
color: #ffffff;
}

.services-post {
  text-align: center;
    margin-bottom: 80px;
}
.services-post a {
  font-color:#ffffff;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  width: 100px;
  height: 100px;
  margin: 0 0 24px;
  line-height: 100px;
  color: #111;
  font-size: 30px;
  text-align: center;
  background: transparent;
  border: 2px solid #111;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.services-post:hover a,
.services-post a.active {
  background: #ff5c5c;
  color: #ffffff;
  border:2px solid transparent;
}
.services-post h2 {
  color: #111;
  font-weight: 400;
  margin: 0 0 14px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}


#ana-img {
    box-shadow: 5px 5px
}


#ana-img  {
    box-shadow: 15px 15px 15px 5px #edeff2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

#ana-img:hover {
        box-shadow: 5px 5px 4px 1px #edeff2;

}


/*----------------------------------------------------------*/
/* Start Fun Facts Counter Section
/*----------------------------------------------------------*/

.fun-facts {
    background: url(../images/parallax/bg-02.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 80px;
    overflow: hidden;
}

.counter-item {
    position:relative;
    text-align:center;
    margin-bottom: 40px;
    background: #fff;
    padding: 0 20px 40px 20px;
}

.counter-item p {
    padding-bottom: 10px;
    color: #111;
}

.counter-item h3 {
  text-align:center;
  margin-bottom:0px;
  color:#111;
    text-transform: none;
    font-size: 20px;
}

.counter-item i {
  font-size:40px;
    color: #fff;
    background: #5BB12F;
    padding: 40px 50px;
}


.timer {
    padding: 10px 0;
    color: #111;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    text-align:center;
    line-height:80px;
    //font-family: 'Oswald', sans-serif;
}




/*******************************************/
/* Start Clients Section
/*******************************************/

#client-section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.client-box ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.client-box ul li {
  list-style: none;
  float: left;
  padding: 0 1px;
  width: 20%;
}

.client-box ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  border: 1px solid #cccccc;
  opacity: 1;
  width: 100%;
  padding: 30px 0;
}

.client-box ul li a img {
  width: 100%;
}


/*************************/
/* Start Footer Section */
/************************/

#heading-footer {
    padding: 20px;
    background-color: #3b3939;
    border-top: 5px solid #ff5c5c;
}

#heading-footer h3 {
    color: #fff;
    text-transform: capitalize;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 25px;
    margin: auto;

}

.footer {
    background-color: #424040;  
    padding-bottom: 20px; 
}

.footer p {
    color: #fff;
}

.footer-list {
    margin: 20px;
}

.footer span {
    padding: 10px;
}

.footer-list h3{
    text-transform: capitalize;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 18px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-list ul {
}

#ft-cust {
    padding-top: 20px;
    font-size: 20px;
}

#ft-cust ul li {
    font-size: 20px;
    padding: 5px;
}

.footer-list ul li {
    color: #fff;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 17px;
    line-height: 16px;
    padding-top: 8px;
}

.footer-list ul li a{
    color: #fff;
    
}

/*social icons*/

.social-ft {
    margin: 0;
    padding: 0;
    background-position: center;
}

.social-ft ul {
    margin: 0;
    padding: 5px;
    //text-align: center;
}

.social-ft ul li {
    display: inline-block;
    //margin: 5px;
    padding-left: 5px;
    list-style: none outside none;
}

.social-ft i {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #ff5c5c;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social-ft i:hover {
    color: #fff;
    text-decoration: none;
    transition: all ease 0.3s;    
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social-ft .fa-facebook:hover {
    background: #4060a5;
}

.social-ft .fa-twitter:hover {
    background: #00abe3;
}

.social-ft .fa-google-plus:hover {
    background: #e64522;
}

.social-ft .fa-skype:hover {
    background: #00c6ff;
}

.social-ft .fa-linkedin:hover {
    background: #0094bc;
}

/* Start Copyright Section */

.copyright-section {
    border-top: 1px solid #363636;
    font-size: 12px;
    padding: 20px 0;
    background: #1d1d1d;
    color: #7f7f7f;
}

.copyright {
    font-size: 16px;
}

.copyright-section a {
    color: #7f7f7f;
}

.copyright-section a:hover {
    color: #ff5c5c;
}

.copyright-menu li {
    display: inline;
    padding-left: 10px;
}

.copyright-menu li a {
    color: #7f7f7f;
    font-weight: 500;
}

.copyright-menu li a.active {
    color: #fff;
    font-size: 13px;
}

.copyright-menu li a:hover {
    color: #ff5c5c;
}

/* End Copyright Section */

/***************************/
/* Start Blog Page Section */
/***************************/


.blogs-header {
    background: url(../images/blogs.jpeg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    border-bottom: 5px solid #ff5c5c;
   // border-top: 5px solid #ff5c5c;

}

.blogs-header h1 {
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    font-size: 150px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    //margin-bottom: 55px;
    color: #fff;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    margin: 0;
}



.blog-post {
    margin-bottom: 40px;
}

.blog-post .post-img {
    position: relative;
}

.blog-post .post-img img {
    margin: 0 0 16px 0;
    border-radius: 3px;
    width: 100%;
}

.blog-post .post-type {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.blog-post .post-type i {
    padding: 15px;
    background: #fff;
    font-size: 16px;
    color: #ff5c5c;
    border-radius: 3px;
    position: absolute;
    top: 45%;
    left: 48%;
}

.blog-post .post-img:hover .post-type{
    opacity: 1;
}

.blog-post .post-img:hover .post-type i {
    -webkit-animation: fadeInDownBig;
    animation: fadeInDownBig;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

h1.post-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    padding: 10px 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}

h1.post-title a {
    color: #5c5c5c;
}

.blog-post ul.post-meta {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.blog-post .post-meta li {
    display: inline-block;
    padding-right: 10px;
    color: #959595;
}

.blog-post .post-meta li a {
    color: #5c5c5c;
}

.blog-post .post-meta li a:hover {
    color: #ff5c5c;
}

.blog-post .post-meta li i {
    color: #ff5c5c;
    margin-right: 10px;
}

.blog-post p.post-content {
    margin-bottom: 30px;
}

.blog-post a.btn-primary {
    background: #ff5c5c;
    border: 1px solid #ff5c5c;
    font-weight: 300;
}

.pagination li a {
    color: #ff5c5c;
}

.pagination li a:hover,
.pagination li a:focus {
    color: #ff5c5c;
}

.pagination li.active a {
    background: #ff5c5c;
    border-color: #ff5c5c;
}

.blog-body .pagination {
    margin-bottom: 70px;
}

/* End Blog Page Section */


/* Start Single Blog Page Section */


.single-blog-post {
    margin-bottom: 40px;
}

.single-blog-post .post-img {
    position: relative;
}

.single-blog-post .post-img img {
    margin: 0 0 16px 0;
    border-radius: 3px;
}

.single-blog-post .post-type {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.single-blog-post .post-type i {
    padding: 15px;
    background: #fff;
    font-size: 16px;
    color: #ff5c5c;
    border-radius: 3px;
    position: absolute;
    top: 45%;
    left: 48%;
}

.single-blog-post .post-img:hover .post-type{
    opacity: 1;
}

.single-blog-post .post-img:hover .post-type i {
    -webkit-animation: fadeInDownBig;
    animation: fadeInDownBig;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
}

.single-blog-post h1.post-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    padding: 10px 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}

.single-blog-post h1.post-title a {
    color: #5c5c5c;
}

.single-blog-post .post-meta {
    //margin-bottom: 20px;
}

.single-blog-post .post-meta li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: #959595;
}

.single-blog-post .post-meta li a {
    color: #5c5c5c;
}

.single-blog-post .post-meta li a:hover {
    color: #ff5c5c;
}

.single-blog-post .post-meta li i {
    margin-right: 3px;
}

.single-blog-post .post-meta ul.pull-right li {
    border-right: 1px solid #ddd;
}

.single-blog-post .post-meta ul.pull-right li:last-child {
    border-right: none;
}

.single-blog-post .post-meta ul.pull-right li i {
    padding-left: 5px;
}

.single-blog-post p.post-content {
    //margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
}


.item-content-footer {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    margin-top: 30px;
}

.item-content-footer li {
    display: inline;
    border-left: 1px solid #ddd; 
    padding-left: 20px;
    padding-right: 10px;
}

.item-content-footer li:first-child {
    border-left: none;
    padding-left: 0;
}

.item-content-footer .rating i {
    font-size: 20px;
}

.item-content-footer .rating .active i {
    color: #ff5c5c;
}


.blog-author h3 {
    color: #32313b;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 33px;
}
.blog-author .media {
    margin: 25px 0 16px 0;
    padding: 8px;
}

.blog-author .media img {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    border-radius: 8px;
    border: 6px solid #f2f2f2;
}

.blog-author .media-body h4 a {
    text-transform: capitalize;
    color: #323232;
    font-size: 20px;
}

.blog-author .media-body p {
    color: #778899;
}


.blog-user {
    margin-bottom: 100px;
}


#comments .comments-list {
	padding: 0;
	margin: 0 0 35px 0;
}

#comments .comments-title {
	font-weight: 400;
	margin-bottom: 20px;
    text-transform: lowercase;
    font-size: 30px;
}

#comments .comments-list li .comment-box {
	padding: 20px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
}

#comments .comments-list li ul {
	margin-left: 70px;
}

#comments .avatar {
	float: left;
}

#comments .avatar img {
	width: 72px;
    height: 72px;
    margin-right: 30px;
    margin-bottom: 15px;
    border-radius: 100%;
    border: 5px solid #f2f2f2;
}

#comments .comment-content {
	padding-left: 72px;
}

#comments .comment-content .comment-meta {
	margin-bottom: 5px;
}


.comment-content .comment-meta .comment-by {
	font-weight: 400;
	color: #323232;
    font-size: 18px;
}

.comment-content .reply-link a {
    color: #555;
    font-size: 11px;
    text-decoration: underline;
}

.comment-content .comment-date {
	color: #959595;
    font-style: italic;
    margin-bottom: 10px;
}

.comment-content p {
    margin-top: 5px;
}

#respond {
    margin-bottom: 120px;
}


#respond .respond-title {
	font-weight: 400;
    text-transform: none;
    color: #32313b;
}

#respond .form-caution {
    color: #cecece;
    font-style: italic;
	margin-bottom: 15px;
}

#respond form {
    margin-top: 20px;
}


/* End Single Blog Page Section */


/* Start Sidebar Scetion */

.sidebar .section-heading-2 {
    margin-bottom: 30px;
}

.sidebar .section-heading-2 h3 {
    font-size: 20px;
    text-transform: capitalize;
    color: #32313b;
    font-weight: 400;
}

.sidebar .widget {
    margin-bottom: 50px;
}



.sidebar .flickr-widget .flickr-list li {
    width: 61px;
    height: 61px;
}



.sidebar .widget-recent-post ul li {
    display: inline;
}

.sidebar .widget-recent-post .media-left img {
    width: 130px;
    height: 75px;
}

.sidebar .widget-recent-post h4.media-heading a {
    font-size: 16px;
    color: #323232;
    text-transform: capitalize;
}

.sidebar .widget-recent-post h4.media-heading a:hover {
    color: #ff5c5c;
}

.sidebar .widget-recent-post .media-body li,
.sidebar .widget-recent-post .media-body li a {
    color: #959595;
}

.widget-categories li {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #cecece;
}

.widget-categories li a {
    color: #323232;
}

.widget-categories li i {
    padding-right: 15px;
}

.widget-categories li a.cat-counter {
    margin-left: 20px;
    font-size: 10px;
    background: #ff5c5c;
    color: #fff;
    padding: 3px;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    line-height: 12px;
    text-align: center;
    display: inline-block;
}


.sidebar .tagcloud a {
    display: inline-block;
    color: #6a6a6a;
    font-size: 14px;
    padding: 5px 8px;
    background: #f2f2f2;
	margin: 0 1px 5px 0;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.sidebar .tagcloud a:hover {
    background: #ff5c5c;
    color: #fff;
}

/* End Sidebar Scetion */


/***********************************/
/* Start locadd Section
/***********************************/

.location .card {
    padding: 0px;
}

.location .card > img {
    //opacity: 0.3;
}

#loc-img {
      background: rgba(0, 0, 0, 0.6);
}

.location >#loc-img p{
    color: #fff;
    text-align: center;
}

.location  h4{
    color: #fff;
}


/***********************************/
/* Start Contact Section
/***********************************/

.contact-us {
    background: url(../images/contact-us/contact-us.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    border-bottom: 5px solid #ff5c5c;
   // border-top: 5px solid #ff5c5c;

}

.contact-us h1 {
    position: relative;
    padding-top: 150px;
    padding-left: 20px;
    font-size: 150px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 5px;
    //margin-bottom: 55px;
    color: #fff;
    -webkit-animation: bounceIn;
    -moz-animation: rubberBand;
    -o-animation: bounceIn;
    animation: bounceIn;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    margin: 0;
}

.contact {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 100px;
}

.form-control {
    border-radius: 0;
    border: 2px solid #111;
}

.contact .form-group {
    margin-bottom: 25px;
}

textarea {
    width: 100%;
}
.contact .form-group input,
.contact .form-group textarea {
    padding: 20px;
}

.contact .form-group input.form-control {
    height: auto;
}

.contact .form-group textarea.form-control {
    height: 236px;
}

.contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact::-moz-placeh;older {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact::-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

.contact .text-danger {
    color: #e74c3c;
}

.contact button {
    font-weight: 400;
    margin-top: 30px;
}





/* this is for the back to top link*/
/*---- back to top styling ---*/


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/*shadow effect*/

.shadow  {
    box-shadow: 15px 15px 15px 5px #edeff2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.shadow:hover {
        box-shadow: 5px 5px 4px 1px #edeff2;

}

